.attractions {
  display: flex;
  flex-direction: column;
  gap: var(--spacingVerticalS);
  list-style: none;
  padding: 0;
}

.attraction {
  background-color: var(--colorTransparentBackground);
  border: none;
  padding: 0;
  cursor: grab;
}

.attraction:active { cursor: grabbing; }

.placeholder {
  box-sizing: border-box;
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusMedium);
  background-color: var(--colorBrandBackground2);
  width: 100%;
  height: attr(data-placeholder-height px, auto);
}
