services:
  sonarqube:
    image: sonarqube:lts-community
    depends_on:
      - db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonar
      SONAR_JDBC_USERNAME: ${SONAR_DB_USERNAME}
      SONAR_JDBC_PASSWORD: ${SONAR_DB_PASS}
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    ports:
      - "9000:9000"
  db:
    image: postgres:12
    environment:
      POSTGRES_USER: ${SONAR_DB_USERNAME}
      POSTGRES_PASSWORD: ${SONAR_DB_PASS}
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
  backend:
    build:
      dockerfile: Dockerfile
      context: ../backend
    ports:
      - "8080:8080"
    env_file:
     - ./.env.dev
    environment:
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    volumes:
      - backend:/logs
  frontend:
    build:
      dockerfile: Dockerfile
      context: ../client-app
    ports:
      - "8085:8085"

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data:
  backend:
