<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="logpath-location">logs</Property>
        <Property name="logfile-name">triptrove.log</Property>
        <Property name="archive">${logpath-location}/archive/triptrove</Property>
        <Property name="interval">48</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %C.%M():%L %X - %m%n"/>
        </Console>

        <RollingFile name="RollingFileAppender" fileName="${logpath-location}/${logfile-name}"
                     filePattern="${archive}/${logfile-name}.%d{yyyy-MM-dd-HH}.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %c.%M ():%L %X - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.triptrove" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="RollingFileAppender" level="DEBUG"/>
        </Logger>
        <!--Logger for org.springframework.boot package-->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="DEBUG"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="DEBUG"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="DEBUG"/>
        </Logger>
        <Logger name="org.hibernate.orm.jdbc.bind" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="DEBUG"/>
        </Logger>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="RollingFileAppender" level="DEBUG"/>
        </Root>
    </Loggers>

</Configuration>